@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@font-face {
    font-family: "Montserrat-Regular";
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot') format('embedded-opentype'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
}
@font-face {
    font-family: 'MontserratSemiBold';
    src: url('../fonts/MontserratSemiBold.eot');
    src: url('../fonts/MontserratSemiBold.eot') format('embedded-opentype'),
    url('../fonts/MontserratSemiBold.woff2') format('woff2'),
    url('../fonts/MontserratSemiBold.woff') format('woff'),
    url('../fonts/MontserratSemiBold.ttf') format('truetype'),
    url('../fonts/MontserratSemiBold.svg#MontserratSemiBold') format('svg');
}


.all-revies-btns{
    display: inline-block;
    width: 628px;
    padding: 45px 15px 80px;
    max-width: 100%;
    background: #fff;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}
.all-revies-btns div{
    width: 100%;
    float: left;
    margin-top: 35px;
}
.all-revies-btns button{
    background: #fbad18;
    color: #fff;
    border: none;
    min-width: 154px;
    font-family: "Montserrat-Regular";
    font-weight: normal;
    text-transform: uppercase;
    padding: 15px 20px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    outline: none;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}
.all-revies-btns button:hover,
.all-revies-btns button:focus{
    background: #da930c;
    box-shadow: none;
}
/*********************************/
/***** USER-MODAL-POPUP
/*********************************/
.user-modal .modal-dialog{width: 628px; max-width: 100%;}
.see-review .modal-header h4,
.user-modal .modal-header h4{
    font-size: 24px;
    font-family: 'MontserratSemiBold';
    color: #444444;
    line-height: normal;
    text-align: center;
}
.user-modal ul{
    margin: 0;
    padding: 0;
    height: 436px;
    display: block;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}
.user-modal ul li{
    list-style: none;
    text-align: left;
    padding: 0px 15px 0px 28px;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}
.user-modal .review-content{
    border-bottom: 1px solid #f2f2f2;
    /*display: inline-block;*/
    padding-bottom: 15px;
    padding-top: 15px;
}

.user-modal ul li:focus,
.user-modal ul li:hover{
    background: #f2f2f2;
}
.see-review .modal-body .img-wrap,
.user-modal ul li .img-wrapper{
    width: 80px;
    height: 80px;
    padding: 5px;
    border: 1px solid #dddddd;
    display: inline-block;
    vertical-align: top;
}
.see-review .modal-body .img-wrap img,
.user-modal ul li .img-wrapper img{
    width: 100%;
    height: 100%;
}
.user-modal .right-content-review{
    display: inline-block;
    width: 68%;
    padding-left: 20px;
    padding-right: 20px;
}

.right-content-review h4{
    display: inline-block;
    font-family: "MontserratSemiBold";
    font-size: 18px;
    color: #444444;
    margin-top: 5px;
}
.see-review form .left-img,
.user-modal .left-img{
    display: inline-block;
    width: 13%;
    vertical-align: top;
}
.right-content-review p{
    font-size: 13px;
    color: #454547;
    font-family: "Montserrat-Regular"
}
.review-stars .rating > input { display: none; }
.review-stars .rating > label:before {
    margin: 5px 2px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.review-stars .rating > .half:before {
    content: "\f089";
    position: absolute;
}

.review-stars .rating > label {
    color: #ddd;
    float: right;
    font-size: 12px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.review-stars .rating > input:checked ~ label, /* show gold star when clicked */
.review-stars .rating:not(:checked) > label:hover, /* hover current star */
.review-stars .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.review-stars .rating > input:checked + label:hover, /* hover current star when changing rating */
.review-stars .rating > input:checked ~ label:hover,
.review-stars .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.review-stars .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
.review-stars{display: inline-block; vertical-align: top; width:17%; text-align: center;}
.review-stars .rating-s{
    font-size: 12px;
    color: #fff;
    padding:2px 12px;
    outline: none;
    border-radius: 4px;
    border: none;
    background: #16be48;
    font-family: "Montserrat-Regular";
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}
.review-stars .rating-s:hover,
.review-stars .rating-s:focus{
    background: #0da239;
}
.user-modal .modal-header .close {
    margin-top: 4px;
}
.user-modal .modal-body {
    padding: 15px 0px;
}
.user-modal .btn-reviews{
    display: inline-block;
}
.user-modal .modal-content{
    border-radius: 10px;
}
/*********************************/
/***** USER-MODAL-POPUP
/*********************************/

/*********************************/
/***** SEE-REVIEW-POPUP
/*********************************/
.see-review form h4{
    font-size: 18px;
    font-family: "MontserratSemiBold";
    color: #444;
    display: inline-block;
    padding-top: 18px;
    padding-left: 15px;
}
.see-review .review-stars{
    float: right;
    width: 17%;
}
.see-review .form-group textarea{
    height: 174px;
    resize: none;
    border-radius:10px;
    border: 1px solid #dddddd;
    outline: none;
    box-shadow: none;
    font-size: 16px;
    font-family: "Montserrat-Regular";
    color: #7a7a7a;
    padding: 20px;

}
.see-review .form-group.review-t{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;
    margin-bottom: 20px
}
.btn-reviews > .review-c{
    background: #d7d7d7;
}
.see-review form .btn-submit-r{
    font-size: 12px;
    font-family: "Montserrat-Regular";
    color: #fff;
    text-transform: uppercase;
    background: #fbad18;
    padding: 8px 23px;
    margin-top: 15px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}
.see-review form .btn-submit-r:focus,
.see-review form .btn-submit-r:hover{
    background: #e89f14;
}
/*********************************/
/***** SEE-REVIEW-POPUP
/*********************************/

@media (max-width: 610px){
    .see-review form .left-img{width: 17%;}
    .see-review .review-stars {
        float: right;
        text-align: right;
        width: 28%;
    }

    .review-stars {
        text-align: center;
        width: 100%;
    }
    .user-modal .left-img {
        text-align: center;
        width: 100%;
    }
    .user-modal .right-content-review {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        width: 100%;
    }
    .review-stars fieldset{display: inline-block;}
    .user-modal .btn-reviews{
        display: block;
        text-align: center;
    }
    .user-modal ul{margin-right: 20px;}
}


@media (max-width: 480px){
    .see-review form .left-img {
        text-align: center;
        width: 100%;
    }
    .see-review form h4{width: 100%; text-align: center; padding-top: 0px; padding-left: 0; margin-bottom: 0px;}
    .see-review .review-stars {
        float: none;
        text-align: center;
        width: 100%;
    }
    .see-review .review-stars .btn-reviews{width: 100%; display: block; margin-top: -5px;}
}

.r-show {
    display:block;
}

.r-hide {
    display:none;
}

label.r-has-error {
    color:red;
    font-weight:normal;
}

.list-review-stars {
    width:100% !important;
    text-align: right;
}

.review-text {
    width:100% !important;
}

.rw-modal-dialog {
    position:relative;
}

.rs-loader {
    display:none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .1);
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    z-index: 9999;
}

.rs-loader img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
}

.r-has-error {
    height:0 !important;
}


